/* Main css File */

body{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.sideNav{
width: 73px;
border-right: 1px solid #ececec;
background-color: #f8f8f8;
float: left;
height: 100%;
padding: 12px 12px 24px 17px;
position: fixed;
z-index: 200;
box-sizing: border-box;
}

.row{
margin: 0px;
}

.notesMain{
margin-left: 73px;
border-right: 1px solid #ececec;
min-height: 800px;
padding-left: 0px;
padding-right: 0px;
width: 458px;
}


.notesMainTitle{
color: #878787;
font-weight: 100;
font-size: 21px;
line-height: 26px;
letter-spacing: 2.5px;
padding-top: 25px;
padding-bottom: 15px;
}

.notesMainTop{
 display: block;
}

.notesMainTop li{
display: inline-block;
color: #878787;
}

.notesNav{
	background:white;
	color: #878787;
	border-bottom : 1px solid #ececec;
	border-right: 1px solid #ececec;
	position: fixed;
	min-width: 458px;
	z-index: 99;
}

.notesContainer{
	height: 120px;
	overflow: hidden;
	padding: 10px;
}

.options-sort{
	background: white;
	border:0px;
	box-shadow: none;
	color: #878787;
}

.options-sort:focus{
	background: white;
	color: #878787;
}

.option-dropdown{
	text-align: right;
	cursor: pointer;
}

.notesContent{
	margin-top: 106px;
	z-index: 10;
	overflow-y : scroll;
}

.notesContent > ul > li.active{
	border: 3px solid #e9e9e9;
}

.notes{
	color: #878787; 
}

.noteTitle{
	transition: color 0.1s ease-in-out;
    color: #6f6f6f;
    line-height: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
	overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 16px;
    margin-bottom: 4px;
}

.noteTime{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	line-height: 18px;
}

.noteTyped {
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}

.notesContainer:hover {
	background-color:#2DBE60;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.notesContainer:hover .noteTitle, .notesContainer:hover .noteTime, .notesContainer:hover .noteTyped{
	color: #fff;
}

.noteWritingNav{
	padding-top: 20px;
	padding-bottom: 20px;
}

.noteWritingNav ul{
	display: block;
}

.noteWritingNav ul li{
	display: inline-block;
}

.noteWritingNav ul li i{
	padding-left: 8px;
	padding-right: 8px;
	font-size: 18px;
	color: #878787;
}

.noteEditor{
	margin-left: 531px;
	position: fixed;
	min-width: 889px;
}