<template name="viewsHome">
	<div class="row">
		<div class="col-md-1 sideNav">
			<br>
			<img src="/favicon.ico" alt="logo" width="40" height="40">
			<br/>
			<br/>
			<br/>
			<a class="btn-floating waves-effect waves-light green" href="/notes/add"><i class="material-icons">add</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">search</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">chat</i></a><br><br>
			<hr>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">star</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">edit</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">book</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">loyalty</i></a><br><br>
			<hr>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">person</i></a><br><br>
		</div>
		<div class="col-md-4 notesMain">
			<h3>Notes</h3>
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
					<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
					<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
					<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				</li>
			</ul>
		</div>
		<div class="col-md-7 noteEditor">
			<h4>User's Notebook</h4>
			<form>
				<textarea name="editor1"></textarea>
				<script>
					CKEDITOR.replace( 'editor1' );
				</script>
			</form>
		</div>
	</div>
</template>