<template name="viewsHome">
	<div class="col s4 grey lighten-1">
		<h3>Notes</h3>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
		</ul>
	</div>
	<div class="col s7 grey lighten-5">
		<h4>User's Notebook</h4>
		<form>
			<textarea name="editor1"></textarea>
			<script>
				CKEDITOR.replace( 'editor1' );
			</script>
		</form>
	</div>
</template>