<template name="viewsHome">
	<div class="row">
		<div class="col-md-1 sideNav">
			<img src="/logo.png" alt="logo">
			<br/>
			<br/>
			<br/>
			<br/>
			<a class="btn-floating waves-effect waves-light green" href="/notes/add"><i class="material-icons">add</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">search</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">chat</i></a><br><br>
			<hr>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">star</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">edit</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">book</i></a><br><br>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">loyalty</i></a><br><br>
			<hr>
			<a class="btn-floating waves-effect waves-light green"><i class="material-icons">person</i></a><br><br>
		</div>
		<div class="col-md-4 notesMain">
			<div class="row notesNav">
				<div class="col-md-12 notesMainTitle">
					<p>NOTES</p>
				</div>
				<div class="col-md-8">
					<p>3 notes</p>
				</div>
				<div class="col-md-4 option-dropdown">
					<p>Options <i class="glyphicon glyphicon-chevron-down"></i></p>				
				</div>
			</div>
			<div class="row notesContent">
				<ul>
					<li class="active notesContainer">
						<div class="row notes">
							<p class="noteTitle">NoteTitle</p>
							<p class="noteTime">Note created</p>
							<p class="noteTyped">NotesContent</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-7 noteEditor">
			<div class="row noteWritingNav">
			<div class="col-md-8">
				<ul>
					<li><i class="glyphicon glyphicon-time"></i></li>
					<li><i class="glyphicon glyphicon-star-empty"></i></li>
					<li><i class="glyphicon glyphicon-info-sign"></i></li>
					<li><i class="glyphicon glyphicon-trash"></i></li>
				</ul>
			</div>
			<div class="col-md-4">
				
			</div>
			</div>
			<h5>Notebook Name</h5>
			{{> viewsNotes}}
		</div>
	</div>
</template>