<template name="viewsNotes">
	<form>
		<input type="text" placeholder="Notes Title" id="notesTitle" />
		<textarea name="notesEditor" id="notesEditor">{{noteContent}}</textarea>
		<script>
			CKEDITOR.replace( 'notesEditor',{
				enterMode : CKEDITOR.ENTER_P,
				shiftEnterMode: CKEDITOR.ENTER_BR,
				entities: 'false',
				entities_additional : '',
				entities_greek : 'false',
				entities_latin : 'false',
				height: '500',
				resize_enabled : false,
				resize_maxHeight : '300',
				resize_maxWidth : '948',
				resize_minHeight: '200',
				toolbar:  'Basic',
				uiColor:  '#ffffff'
			});
		</script>
		<input type="submit" name="submit" value="Submit">
	</form>
</template>